body {
    background-color: #F9F0BB;
    font-family: 'Roboto', sans-serif;
}

.white-background {
    // disable temporarily because of white jpg images
    // background-color: #f7f7f7;
    background-color: #FFF;
    padding: 2rem 1rem 2rem 1rem;
}

.grey-background{
    background-color: #444;
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.navbar-nav{
    justify-content: space-around;
    width: 100%;
}

.no-blue{
    text-decoration: none; 
    color: black;
}

.no-blue:hover { 
	text-decoration: none; 
    color: black;
} 

#youtube-red{
    color: red;
}