extends ../layouts/default

block variables
	- 
		let cardContents = [
			{"title": "9", "description": "9, may just be an ordinary number to you. However, it actually means longevity to Chinese people. Also, there are different miracles of 9. Therefore, why not learn the interesting facts of 9 together?"},
			{"title": "11", "description": "11, is well-known to be a prime number. However, not many of us know that there are a lot of 'magic' can be done from this number. For example, any power of 11 will ends with 1 in the units digit. Interesting, right?"},
			{"title": "30", "description": "What are primordial numbers? What is so special about them? By using the number 30, we will answer all those questions, and show some interesting theorems about those mysterious primordial numbers!"},
			{"title": "365.25", "link": "365-25", "description": "How many days are there from year 2001 to 2100? It may take you quite some time to find the answer if you count in one by one. Therefore, we would like to introduce a better way to calculate the number of days exist during a given period of time accurately."},
		];

block content
	.container
		#myCarousel.carousel.slide.mb-4(data-bs-ride="carousel") 
			//- CHANGE
			.carousel-indicators
				button(type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
				button(type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2")
				button(type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3")
			.carousel-inner
				.carousel-item.active
					img.d-block.w-100(src="images/carousel0.png" alt="")
					.carousel-caption.d-none.d-md-block
						h3 Welcome!
						h5 Do you know how to answer these two questions? I bet you don't know! That's why you have to view our website to broaden your knowledge bank.
				.carousel-item
					img.d-block.w-100(src="images/carousel1.png" alt="")
					.carousel-caption.d-none.d-md-block
						h5 Press on the picture for the answer.
				.carousel-item
					img.d-block.w-100(src="images/carousel2.png" alt="")
					.carousel-caption.d-none.d-md-block
						h5 Press on the picture for the answer.

			button.carousel-control-prev(type="button" data-bs-target="#myCarousel" data-bs-slide="prev")
				span.carousel-control-prev-icon(aria-hidden="true")
				span.visually-hidden Previous
			button.carousel-control-next(type="button" data-bs-target="#myCarousel" data-bs-slide="next")
				span.carousel-control-next-icon(aria-hidden="true")
				span.visually-hidden Next
		#myCards.row
			for cardContent in cardContents
				.col-12.col-sm-6.col-xl-3.my-4: .card.h-100
					.card-header 
						h3=cardContent.title
					img.card-img-top(src="images/card"+(cardContent.link || cardContent.title)+".png" alt="")
					.card-body
						p.card-text
							| #{cardContent.description} <br /> Click here for more
			
			//- .col-12.col-sm-6.col-xl-3.my-4: .card.h-100
			//- 	.card-header 
			//- 		h3 9
			//- 	img.card-img-top(src="images/card9.png" alt="")
			//- 	.card-body
			//- 		p.card-text
			//- 			| 9, may just be an ordinary number to you. However, it actually means longevity to Chinese people. Also, there are different miracles of 9. Therefore, why not learn the interesting facts of 9 together?
			//- .col-12.col-sm-6.col-xl-3.my-4: .card.h-100
			//- 	.card-header
			//- 		h3 11
			//- 	img.card-img-top(src="images/card11.png" alt="")
			//- 	.card-body
			//- 		p.card-text
			//- 			| 11, is well-known to be a prime number. However, not many of us know that there are a lot of 'magic' can be done from this number. For example, any power of 11 will ends with 1 in the units digit. Interesting, right?
			//- .col-12.col-sm-6.col-xl-3.my-4: .card.h-100
			//- 	.card-header
			//- 		h3 30
			//- 	img.card-img-top(src="images/card30.png" alt="")
			//- 	.card-body
			//- 		p.card-text
			//- 			| What are primordial numbers? What is so special about them? By using the number 30, we will answer all those questions, and show some interesting theorems about those mysterious primordial numbers!
			//- .col-12.col-sm-6.col-xl-3.my-4: .card.h-100
			//- 	.card-header
			//- 		h3 365.25
			//- 	img.card-img-top(src="images/card365-25.png" alt="")
			//- 	.card-body
			//- 		p.card-text
			//- 			| How many days are there from year 2001 to 2100? It may take you quite some time to find the answer if you count in one by one. Therefore, we would like to introduce a better way to calculate the number of days exist during a given period of time accurately.