p.mt-3: small
    | Sample project for &nbsp;
    a#youtube-red.no-blue(href="https://youtube.com/playlist?list=PLjGmdnqrOKuYXiu7lgG5HW71jPEUd1XCm")
        i.fa-brands.fa-youtube
        | &nbsp; Web &amp; Git Tutorial 
    br
    | Created by KidProf