.container: .grey-background: nav#myNav.navbar.navbar-default.navbar-expand-md.navbar-dark
    button.text-right.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target="#orderNav" aria-controls="orderNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        ul.nav.navbar-nav.mr-auto
            li.nav-item: a.nav-link(class=(currentPage == "home" ? "active" : null) href="index.html") HOME
            li.nav-item: a.nav-link(class=(currentPage == "abouts" ? "active" : null) href="abouts.html") ABOUTS